<!-- <div class="container">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <form *ngIf="!showOtp" [formGroup]="otpForm" (ngSubmit)="otpForm.valid && sendOtp()" autocomplete="off">
        <app-text-input [formControl]='otpForm.controls["phonenumber"]' [label]='"Mobile"'>
        </app-text-input>
        <app-text-input  *ngIf="txtOtp" [formControl]='otpForm.controls["otp"]' [label]='"OTP"'>
        </app-text-input>
        <p *ngIf="txtOtp" class="text text-info">OTP has been sent...</p>
        <div class="form-group text-center mt-2">
            <button [disabled]='!otpForm.valid' class="btn btn-sm btn-success form-control"
                type="submit">      Submit          
        
            </button>
        </div>
        
    </form>

    <form *ngIf="showOtp" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">

        <div class="form-group">
            <label class="control-label" style="margin-right:10px;">I am a:</label>
            <label class="radio-inline">
                <input type="radio" value='male' formControlName='gender'>Male
            </label>
            <label class="radio-inline">
                <input type="radio" value='female' formControlName='gender' class="ml-3">Female
            </label>
       
            <div *ngIf="showMemberRadio">
                <label class="radio-inline">
                    <input type="radio" value='contestant' formControlName='knownAs'>Contestant
                </label>
                <label class="radio-inline">
                    <input type="radio" value='member' formControlName='knownAs' class="ml-3">Member
                </label>
            </div>
        </div>
        <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Username"'>
        </app-text-input>

         <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [label]='"Date Of Birth"'
            [maxDate]="maxDate">
        </app-date-input>

        <app-text-input [formControl]='registerForm.controls["mobile"]' [label]='"Mobile"'>
        </app-text-input>

        <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Password"' [type]='"password"'>
        </app-text-input>

        <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"Confirm Password"'
            [type]='"password"'>
        </app-text-input>

        <div class="row" *ngIf="validationErrors">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
         <p>{{this.registerForm.valid}}</p> 
         <span *ngIf="this.registerForm.valid"> <i class="fa fa-thumbs-up" style="color:green"></i> </span>
         <span *ngIf="!this.registerForm.valid"> <i class="fa fa-thumbs-down" style="color:red"></i> </span>

        <div class="form-group text-center mt-2">
            <button [disabled]='!registerForm.valid' class="btn btn-sm btn-success form-control"
                type="submit">Register</button>
            <button class="btn btn-sm btn-info form-control mt-2" (click)="cancle()">Cancel</button>
        </div>

    </form>

</div> -->








<div class="container-fluid">
    <div class="row signup-row">
        <div class="signup-form">
                <h1 class="text-center signup-heading">Create Account</h1>
                
                <img class="mt-5" src="../../assets/alert.png" alt="">

                <p class="mt-3">Enter your mobile number to create account.</p>

                <p>We'll send you one time password(OTP).</p>

                <form *ngIf="!showOtp" [formGroup]="otpForm" (ngSubmit)="otpForm.valid && sendOtp()" autocomplete="off">
                    <app-text-input [formControl]='otpForm.controls["phonenumber"]' [label]='"Mobile"'>
                    </app-text-input>
                    <app-text-input  *ngIf="txtOtp" [formControl]='otpForm.controls["otp"]' [label]='"OTP"'>
                    </app-text-input>
                    <p *ngIf="txtOtp" class="text text-info">OTP has been sent...</p>
                    <div class="form-group text-center mt-2">
                        <button [disabled]='!otpForm.valid' class="send-btn mb-3 btn btn-sm btn-success form-control"
                            type="submit" >      Submit          
                           <!-- <span> {{txtOtp ? 'Send Again' : 'Submit'}} </span> -->
                        </button>
                        <button class="btn btn-sm btn-info form-control mt-2" (click)="cancle()">Cancel</button>
                    </div>
                    <!-- <p>{{this.otpForm.valid}}</p> -->
                </form>
            
                <form *ngIf="showOtp" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
            
                    <div class="form-group">
                        <label class="control-label" style="margin-right:10px;">I am a:</label>
                        <label class="radio-inline">
                            <input type="radio" value='male' formControlName='gender'>Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value='female' formControlName='gender' class="ml-3">Female
                        </label>
                        <!-- memer Or contestant -->
                        <div *ngIf="showMemberRadio">
                            <label class="radio-inline">
                                <input type="radio" value='contestant' formControlName='knownAs'>Contestant
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value='member' formControlName='knownAs' class="ml-3">Member
                            </label>
                        </div>
                    </div>
                    <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Username"'>
                    </app-text-input>
            
                    <!-- <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [label]='"Date Of Birth"'
                        [maxDate]="maxDate">
                    </app-date-input> -->
            
                    <!-- <app-text-input [formControl]='registerForm.controls["mobile"]' [label]='"Mobile"'>
                    </app-text-input> -->
            
                    <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Password"' [type]='"password"'>
                    </app-text-input>
            
                    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"Confirm Password"'
                        [type]='"password"'>
                    </app-text-input>
            
                    <div class="row" *ngIf="validationErrors">
                        <ul class="text-danger">
                            <li *ngFor="let error of validationErrors">
                                {{error}}
                            </li>
                        </ul>
                    </div>
                     <!-- <p>{{this.registerForm.valid}}</p> -->
                     <span *ngIf="this.registerForm.valid"> <img src="../../assets/icon-up.png" width="auto" height="40px" style="margin-top: 10px;"> </span>
                     <span *ngIf="!this.registerForm.valid"> <img src="../../assets/icon-down.png" width="auto" height="40px" style="margin-top: 10px;"> </span>
            
                    <div class="form-group text-center mt-2">
                        <button [disabled]='!registerForm.valid' class="btn btn-sm btn-success form-control"
                            type="submit">Register</button>
                        <button class="btn btn-sm btn-info form-control mt-2" (click)="cancle()">Cancel</button>
                    </div>
            
                </form>               

            </div>        
    </div>
</div>