*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* navbar section  */
.logo-img{
    height:50px;
}
.navbar-brand{
    margin-left: 3%;
    margin-right: 0;
}
.collapse{
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}
.navbar-toggler{
    margin-right: 3%;
}
.nav-link{
    color:#1175ba;
    font-weight: bold;
    align-self: center;
}
.nav-link:hover{
    background-color: #ec268f;
    color: white;
    border-radius: 3px;
}
/* sign-up form  */
.signup-row{
    background-color: #06283D;
    /* background-image: url('./registration.jfif'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 25rem;
}
.signup-heading{
    color: #e35630;
}
.signup-form{
    margin: 1rem 0;
    padding: 1.5rem 1rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    text-align: center;
}
.send-btn{
    border: 1px solid #e35630;
    border-radius: 3px;
    padding: 0.3rem 1.5rem;
    color: #e35630;
    background-color: transparent;
}
.submit-btn{
    border: 1px solid #e35630;
    border-radius: 3px;
    padding: 0.3rem 1.5rem;
    background-color: transparent;
    text-decoration: none;
    color: #e35630;
}
.send-btn:hover, .submit-btn:hover{
    background-color: #e35630;
    color: white;
}


/* media query */

@media (max-width: 1200px) {
    .signup-row{
        padding: 2rem 18rem;
    }
}
@media(max-width: 991px){
    .collapse {
        margin-left: 3%;
        justify-content: flex-start;
    }
    .signup-row{
        padding: 2rem 11.5rem;
    }
}
@media (max-width:768px){
    .signup-row{
        padding: 2rem 6rem;
    }
}
@media(max-width: 548px){
    .signup-row{
        padding: 2rem;
    }
    .signup-form{
        padding: 1.5rem 0.5rem;
    }
}