<div class="container-fluid">
    <div class="row main-contestant-row">
        <h1 class="text-center main-heading">Contestants</h1>
        <div class="row cnst-row-1">
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <div class="img-box">
                        <img src="p1.jfif" class="img-fluid contestants-img img-1" alt="">
                    </div>
                    <h5 class="mt-1 cnst-name">Lisa</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <div class="img-box">
                        <img src="p2.jpg" class="img-fluid contestants-img img-2" alt="">
                    </div>
                    <h5 class="mt-1 cnst-name">Karen</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <img src="p3.jpg" class="img-fluid contestants-img img-3" alt="">
                    <h5 class="mt-1 cnst-name">Margo</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <img src="p4.jpg" class="img-fluid contestants-img img-4" alt="">
                    <h5 class="mt-1 cnst-name">Lois</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
        </div>

        <div class="row cnst-row-2">

            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <img src="p5.jpg" class="img-fluid contestants-img img-5" alt="">
                    <h5 class="mt-1 cnst-name">Ruthie</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <img src="p6.jpg" class="img-fluid contestants-img img-6" alt="">
                    <h5 class="mt-1 cnst-name">Tod</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <img src="p7.jpg" class="img-fluid contestants-img img-7" alt="">
                    <h5 class="mt-1 cnst-name">Porter</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <img src="p8.jpg" class="img-fluid contestants-img img-8" alt="">
                    <h5 class="mt-1 cnst-name">Mayo</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
        </div>
        <div class="buttons">
            <a class="page-btn" href="">1</a>
            <a class="page-btn" href="">2</a>
            <a class="page-btn" href="">3</a>
        </div>
    </div>
</div>