*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.text{
    color: rgba(255, 255, 255, 0.623);
}
a{
    text-decoration: none;
}
/* navbar section  */
.logo-img{
    height:50px;
}
.navbar-brand{
    margin-left: 3%;
    margin-right: 0;
}
.collapse{
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}
.navbar-toggler{
    margin-right: 3%;
}
.nav-link{
    color:#1175ba;
    font-weight: bold;
    align-self: center;
}
.nav-link:hover{
    background-color: #ec268f;
    color: white;
    border-radius: 3px;
}
/* forget password form  */

.fgt-pswd-row{
    padding: 2rem 25rem; 
    background-color:#e35630; 
}
.fgt-pswd-form{
    padding: 2rem;
    background-color: white;
    text-align: center;
    border-radius: 10px; 
}
.fgt-pswd-btn{
    color: #e35630;
}
.fgt-pswd-btn:hover{
    border: 1px solid #e35630;
    border-radius: 5px;
    color: #e35630;
    padding:0.5rem 1.5rem;
}


/* media query */

@media (max-width: 1200px) {
    .fgt-pswd-row{
        padding: 2rem 18rem;
    }
}
@media(max-width: 991px){
    .collapse {
        margin-left: 3%;
        justify-content: flex-start;
    }
    .fgt-pswd-row{
        padding: 2rem 11.5rem;
    }
}
@media (max-width:768px){
    .fgt-pswd-row{
        padding: 2rem 6rem;
    }
    .fgt-pswd-form{
        padding:1rem;
    }
}
@media(max-width: 548px){
    .fgt-pswd-row{
        padding: 2.5rem;
    }
}