<div class="container-fluid">
  <div class="row fgt-pswd-row">
    <div class="fgt-pswd-form">
      <h1 class="text-center signup-heading">Forgot Password</h1>
      <img class="mt-3" src="./assets/forgot-password.png" alt="">
      <p class="mt-3">Enter your Details to reset your password.</p>

      <form *ngIf="!forgotpwdPanel" class="fgt-pswd-form" [formGroup]="forgotForm" (ngSubmit)="forgotForm.valid && sendOtp()"
        autocomplete="off">
        <app-text-input [formControl]='forgotForm.controls["username"]' [label]='"Username"'>
        </app-text-input>
        <app-text-input [formControl]='forgotForm.controls["phonenumber"]' [label]='"Mobile"'>
        </app-text-input>
        <app-text-input *ngIf="txtOtp" [formControl]='forgotForm.controls["otp"]' [label]='"OTP"'>
        </app-text-input>
        <p *ngIf="txtOtp" class="text text-info">OTP has been sent...</p>
        <div class="mb-3 d-grid mt-2">
          <button [disabled]='!forgotForm.valid' class="fgt-pswd-btn mb-3" type="submit"> Submit
            <!-- <span> {{txtOtp ? 'Send Again' : 'Submit'}} </span> -->
          </button>
        </div>
      </form>


      <form *ngIf="forgotpwdPanel" class="fgt-pswd-form" [formGroup]="updateForm" (ngSubmit)="updateForm.valid && UpdatePwd()"
        autocomplete="off">
        <app-text-input [formControl]='updateForm.controls["password"]' [label]='"password"'>
        </app-text-input>
        <app-text-input [formControl]='updateForm.controls["confirmPassword"]' [label]='"Confirm Password"'
          [type]='"password"'>
        </app-text-input>
        <div class="mb-3 d-grid mt-2">
          <button [disabled]='!updateForm.valid' class="fgt-pswd-btn mb-3" type="submit"> Submit
            <!-- <span> {{txtOtp ? 'Send Again' : 'Submit'}} </span> -->
          </button>
        </div>
        <!-- <p>{{this.forgotForm.valid}}</p> -->
      </form>
    </div>
  </div>
</div>

