<main>
    <div class="container-fluid match-container mt-5">
        <h3 class="text-center" style="color: black">Your Match Found - 2</h3>

        <div class="container-fluid form-container">
            <form class="" action="">
                <label class="ms-2 mt-2" for="">Age From : </label><input min="10" class="ms-2 mt-2" type="number" name="" id="">
                <label class="ms-2 mt-2" for="">Age To : </label><input max="60" class="ms-2 mt-2" type="number">
                <select class="ms-2 mt-2" name="" id="">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
                <select class="ms-2 mt-2" name="" id="">
                    <option value="Contestant">Contestant</option>
                    <option value="Member">Member</option>
                </select>
            </form>
                <button class="mt-2 btn filter-btn mx-1">Apply</button>
                <button class="mt-2 btn filter-btn mx-1">Reset</button>
                <button class="mt-2 btn filter-btn mx-1">Last Archieve</button>
                <button class="mt-2 btn filter-btn mx-1">Newwest Members</button>
        </div>
    </div>

    <div class="container-fluid login-container">
        <div class="row login-row">
            <div class="col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="p1.jfif" class="img-fluid contestants-img img-1" alt="">
                    </div>
                    <h5 class="mt-1 cnst-name">Lisa</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box">
                    <div class="img-box">
                        <img src="p2.jpg" class="img-fluid contestants-img img-2" alt="">
                    </div>
                    <h5 class="mt-1 cnst-name">Karen</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box">
                    <img src="p7.jpg" class="img-fluid contestants-img img-3" alt="">
                    <h5 class="mt-1 cnst-name">Porter</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box">
                    <img src="p4.jpg" class="img-fluid contestants-img img-4" alt="">
                    <h5 class="mt-1 cnst-name">Lois</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
        </div>
        <div class="buttons">
            <a class="page-btn" href="">1</a>
            <a class="page-btn" href="">2</a>
            <a class="page-btn" href="">3</a>
        </div>
    </div>
</main>