* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.text {
    color: rgba(255, 255, 255, 0.623);
}

a {
    text-decoration: none;
}

/* navbar section  */

.navbar {
    box-shadow: 0px 0px 3px 0 black;
    padding: 12px 0px;
}

.logo-img {
    height: 50px;
}

.navbar-brand {
    margin-bottom: 10px;

}

.collapse {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

.navbar-toggler {
    margin-right: 3%;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #1175ba;
    font-weight: bold;
    align-self: center;
    padding: 8px;
}

.nav-link:hover {
    background-color: #ec268f;
    color: white;
    border-radius: 3px;
}

.dropdown-item:hover {
    color: white;
    background-color: #ec268f;
}

/* contestant page  */


.login-container {
    padding: 1rem 5rem;
    text-align: center;
}

.upper-row {
    text-align: center;
    background-color: #06283D;
}

.active {
    background-color: #305b7985;
}

.upper-row .col-lg-6 {
    padding: 0.5rem 0;
}

.upper-row .col-lg-6:hover {
    background-color: #305b7985;
}

.upper-p {
    color: white;
}

.upper-p:hover {
    color: white;
}

.login-row .col-lg-3 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.box {
    border: 1px solid rgba(0, 0, 0, 0.616);
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
}

.contestants-img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.vote-me-btn {
    border: none;
    color: white;
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
}

.vote-me-btn:hover {
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
}

.page-btn {
    color: white;
    background-color: #06283D;
    padding: 0.2rem 0.5rem;
    margin: 0.3rem;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.3s all;
}

.page-btn:hover {
    transform: scale(1.2);
    color: #06283D;
    border: 2px solid #06283D;
    background-color: transparent;
}

/* media query */

@media(max-width: 991px){
    .collapse {
      
        justify-content: center;
    }
}
@media(max-width: 548px) {
    .login-container{
        padding: 2rem 1.5rem;
    }
     .login-row {
        padding: 2rem;
    }
}




.loglogin{
    display: flex;
    align-items: center;
  
}


.loglogin a{
    color: #1175ba;
    font-weight: bold;
    align-self: center;
    padding: 8px;
}


.loglogin img{
    height: 50px;
    width: 50px;
}

.coolmenu{
    inset: 100% auto auto 0px;
    
    transform: translateX(55px) !important;
}


@media only screen and (max-width: 600px) {
    .mobcss {
        justify-content: center !important;
    }
    .navshowrow{
        flex-direction: row !important;
    }
  }
  