<nav class="navbar navbar-expand-lg bg-white">
    <div class="mobcss container-fluid px-5">
        <a class="navbar-brand" routerLink="/" ><img src="./assets/logo.png" alt="" class="img-fluid logo-img"></a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse mobnav" id="navbarNavDropdown">
            <ul class="navbar-nav navshowrow">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/contestant">Contestant</a>
                </li>
                <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item" *ngIf="(accountService.currentUser$ | async)">
                    <a class="nav-link" aria-current="page" routerLink="/list">Votes</a>
                </li>
                <li class="nav-item" *ngIf="!(accountService.currentUser$ | async)" >
                    <a  class="nav-link" aria-current="page" routerLink="/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Search</a>
                </li>
                <li *appHasRole='["Admin","Moderator"]' class="nav-item">
                    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                </li>
                </ng-container>
                
                
            </ul>
        </div>


        
        <div class="dropdown loglogin" *ngIf="(accountService.currentUser$ | async) as user" dropdown>            
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
            <a class="dropdown-toggle  ms-2 text-decoration-none" dropdownToggle> Welocome {{ user.username || user.knownAs | titlecase}}</a>
            <div class="dropdown-menu mt-3 coolmenu" *dropdownMenu>
                <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>