<main>
    <div class="container mt-5">
        <h3 class="text-center main-heading">Members I Voted : 2</h3>
        <div class="row upper-row">
            <div class="active col-lg-6">
                <a href="myvotes.html" class="upper-p">My Votes</a>
            </div>
            <div class="col-lg-6">
                <a href="whovotedme.html" class="upper-p">Who Voted Me</a>
            </div>
        </div>
    </div>
    <div class="container-fluid login-container">
        <div class="row login-row">
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <div class="img-box">
                        <img src="p1.jfif" class="img-fluid contestants-img img-1" alt="">
                    </div>
                    <h5 class="mt-1 cnst-name">Lisa</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <div class="img-box">
                        <img src="p2.jpg" class="img-fluid contestants-img img-2" alt="">
                    </div>
                    <h5 class="mt-1 cnst-name">Karen</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <img src="p7.jpg" class="img-fluid contestants-img img-3" alt="">
                    <h5 class="mt-1 cnst-name">Porter</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="box">
                    <img src="p4.jpg" class="img-fluid contestants-img img-4" alt="">
                    <h5 class="mt-1 cnst-name">Lois</h5>
                    <button class="btn vote-me-btn"><i class="fa-solid fa-heart pe-1"></i>Vote Me</button>
                </div>
            </div>
        </div>
        <div class="buttons">
            <a class="page-btn" href="">1</a>
            <a class="page-btn" href="">2</a>
            <a class="page-btn" href="">3</a>
        </div>
    </div>
</main>